<h1>Brad Berkobien</h1>

<button type="button" (click)="GoBack()">Back</button>

<div class="container">
  <div class="row">

    <div class="col-md-3">
      <div class="flip-box">
        <div class="flip-box-inner">
          <img src="../../assets/us.jpg" />
        </div>
        <div class="flip-box-back">
          <h2>Brad & Sam</h2>
          <p>Together forever... </p>
        </div>
      </div>
      </div>
      <div class="col-md-3">
        <div class="flip-box">
          <div class="flip-box-inner">
            <img src="../../assets/al.jpg" />
          </div>
          <div class="flip-box-back">
            <h2>Alice</h2>
            <p>The cutest kitty</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="flip-box">
          <div class="flip-box-inner">
            <img src="../../assets/bandit.jpg" />
          </div>
          <div class="flip-box-back">
            <h2>Bandit</h2>
            <p>I am almost 7 years old!</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="flip-box">
          <div class="flip-box-inner">
            <img src="../../assets/beebox.jpg" />
          </div>
          <div class="flip-box-back">
            <h2>Bee Box </h2>
            <p>Almost have our livestock!!</p>
          </div>
        </div>
      </div>
      </div>
    </div>
