<h1 id="tableLabel">Employee List</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!nameList"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="nameList">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Job Title</th>
      <th>Overview</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let name of nameList">
      <td>{{ name.FirstName}}</td>
      <td>{{ name.LastName}}</td>
      <td>{{ name.JobTitle}}</td>
      <td>{{ name.Overview}}</td>
    </tr>
  </tbody>
</table>
