<header>
    <div class="container" style="z-index: 10001">
      <div style="z-index: 10001" class="page__style projects">
        <div style="z-index: 10001" class="page__description">
          <div id="people">
            <h1></h1>
            <button class="btn_nav people_link" routerLink="/ahsan">Ahsan</button>
            <button class="btn_nav people_link" routerLink="/andres">Andres</button>
            <button class="btn_nav people_link" routerLink="/brad">Brad</button>
            <button class="btn_nav people_link" routerLink="/keith">Keith</button>
          </div>
        </div>
      </div>
    </div>
</header>
